@model F1Stats.Web.Models.Versenyzo

<h2>Edit of one racer</h2>

@using (Html.BeginForm("Edit", "Versenyzo"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Rajtszam)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Rajtszam)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.CsapatNev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.CsapatNev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Eletkor)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Eletkor)</div>

    <div class="editor-label">@Html.LabelFor(m => m.OsszPont)</div>
    <div class="editor-field">@Html.EditorFor(m => m.OsszPont)</div>

    <div class="editor-label">@Html.LabelFor(m => m.IdenybeliPont)</div>
    <div class="editor-field">@Html.EditorFor(m => m.IdenybeliPont)</div>

    <input type="submit" value="SEND" />
}