@model F1Stats.Web.Models.Versenyzo
@{
    ViewBag.Title = "VersenyzoDetails";
}

<h2>Datasheet of one racer</h2>
@Html.ActionLink("Bacl to the list", "Index");

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Rajtszam)</td>
        <td>@Html.DisplayFor(m => m.Rajtszam)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nev)</td>
        <td>@Html.DisplayFor(m => m.Nev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.CsapatNev)</td>
        <td>@Html.DisplayFor(m => m.CsapatNev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Eletkor)</td>
        <td>@Html.DisplayFor(m => m.Eletkor)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.OsszPont)</td>
        <td>@Html.DisplayFor(m => m.OsszPont)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.IdenybeliPont)</td>
        <td>@Html.DisplayFor(m => m.IdenybeliPont)</td>
    </tr>
</table>
